h1 {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: black;
  text-align: center;
  margin: 0px 25px 25px 25px;
}
body {
  background-color: #FFE7E5;
  background-image: url(docs/cucamber_3.jpg);
  background-repeat: repeat-x;
}

h1::first-letter {
font-size: 150%;
color: #9AE617;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#tasks {
  text-align: center;
  margin: 150px 50px 50px 50px;
}

button {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
  font-size: inherit;
  background-color: black;
  min-width: 40px;
  min-height: 35px;
  text-align: center;
}

button:hover {
  background-color: #FFB5FC;
}

.paragraph {
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin: 50px 50px 0px 50px;
  text-align: center;
  padding: none;
  letter-spacing: 3px;
}

span {
  color: #9AE617;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  margin: 10px 10px 0px 10px;
}

.progress {
  margin: 0px 10px 80px 10px;
  background-color: #FFB5FC;
  max-width: 100%;
  text-align: center;
}

p {
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
}


.text{
  text-align: center;
  margin: 0px;
  max-width: 100%;
}

#cucumber {
  text-align: center;
}

@media only screen and (max-width:540px) {
  body {
      background-color: rgb(119, 171, 238);
  }
}

@media only screen and (min-width:541px) {
  h1 {
    font-size: 50px;
    margin: 0px 0px 150px 0px;
    max-width: 100%;
  }  
  #tasks {
    margin: 150px 50px 00px 50px;
  }
  .paragraph {
    margin: 100px 50px 0px 50px;
  }
  p {
    font-size: 15px;
    margin: 0px 0px 100px 0px;
  }
  .text {
    margin: 0px 50px 50px 50px;
  }
  .progress {
    margin: 0px 50px 100px 50px;
  }
  h4 {
  margin: 10px 50px 0px 50px;
  }
}