h1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 40px 100px 100px 100px;
}
h1::first-letter {
font-size: 200%;
color: #9AE617;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
body {
  background-color: #FFE3DF;
  background-image: url(docs/cucamber_3.jpg);
  background-repeat: repeat-x;
}
p {
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin: 50px;
  text-align: center;
  padding: none;
  letter-spacing: 3px;
}

table {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  margin: 0px 0px 0px 50px;
}


button {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
  font-size: 15px;
  background-color: black;
}

button:hover {
  background-color: #FFB5FC;
}

#tasks {
  text-align: center;
  margin: 200px 50px 100px 50px;
}

span {
  color: #9AE617;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}


h3 {
  font-family: 'Staatliches', cursive;
  color: #9AE617;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 30px;
  margin: 200px 50px 10px 60px;
}

textarea {
  width: 800px;
}

#cucumber {
  text-align: center;
  margin: 300px 50px 10px 50px;
}

#notes {
  text-align: center;
  margin: 0px 50px 100px 50px;
}